*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27242b;
}
.container{
    position: relative;
    width: 350px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2e33;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    padding: 50px;
}
form{
    position: relative;
    width: 100%;
}
.container h2{
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.inputbox span{
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.2em;
}
.inputbox .Box{
    display: flex;
}
.inputbox .Box .icon{
    position: relative;
    min-width: 40px;
    height: 40px;
    background: #08e200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}
.inputbox .Box input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.inputbox .Box input[type="button"]{
    /* box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5); */
    background: #3996ec;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 12px;
}
label{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
label input{
    margin-right: 5px;
}
.forgot{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
}